@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  z-index: 1;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-logo {
  height: 42.6px;
  width: auto;
  margin: auto auto auto 140px;
}

.header-logo:hover {
  cursor: pointer;
}

.header-menu {
  font-size: 14px;
  font-weight: 400;
  color: #545454;
  display: grid;
  grid-auto-flow: column;
  column-gap: 48px;
  margin: auto 169px auto auto;
}

.header-menu p:hover {
  color:#FE0078;
  cursor:pointer;
}

.content {
  margin: 56px 10% 64px 10%;
  display: grid;
  grid-template-columns: 730px 380px;
  column-gap: 50px;
}

main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;
}

.content-card {
  background-color: #FFFFFF;
  color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-radius: 4px;
}

h1 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 24px auto 8px 24px;
}

p {
  color: #929292;
  font-weight: 400;
}

.content-pubishing-data {
  margin: 0 auto 14px 24px;
  font-size: 12px;
}

.content-card img {
  margin: 0 0 24px 0;
}

.content-text {
  margin: 0 24px 24px 24px;
  font-size: 14px;
}

.content-button {
  display: flex;
  justify-content: flex-end;
}

.content-more {
  all:unset;
  width: 154px;
  height: 43px;
  align-self: flex-end;
  margin: 0 24px 24px auto;
  color: #929292;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #FE0078;
  border-radius: 20px;
  text-align: center;
}

.content-more:hover {
  background-color: #FE0078;
  color: #FFFFFF;
  cursor: pointer;
}

aside {
  background-color: #FFFFFF;
  display: grid;
  grid-auto-flow: row;
  align-content: flex-start;
  border-radius: 4px;
  /* min-width: 250px; */
  height: fit-content;
}

input {
  all:unset;
  color: #545454;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  height: 52px;
  margin: 20px 20px 25px 20px;
  text-align: left;
  padding-left: 20px;
}

input:hover, input:focus {
  border: 1px solid #FE0078;
  cursor: pointer;
}

.table-categories {
  margin: 0 20px 40px 20px;
}

th {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-left: 13px;
  border-left: 2px solid #FE0078;
  height: 38px;
}

tr {
  height: 15px;
}

td {
  color: #545454;
  font-size: 14px;
  font-weight: 400;
}

.table-data td{
  height: 35px;
  border-bottom: 2px dotted #EEEEEE;
}

.table-data:hover td {
  color: #FE0078;
  border-bottom: 2px dotted #FE0078;
  cursor: pointer;
}

tr:first-child {
  padding-top: 34px;
}

tr>td:first-child {
  text-align: left;
  padding-left: 13px;
}

tr>td:last-child {
  text-align: right;
  padding-right: 18px;
}

.table-ads {
  margin: 0 20px 41px 20px;
}

.ads-area {
  background-color: #EEEEEE;
  color: #545454;
  font-size: 36px;
  font-weight: 400;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.area-1, .area-2 {
  margin: 0 20px 32px 20px;
}

.area-3 {
  margin: 0 20px 40px 20px;
}

footer {
  background-color: #222222;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  height: 70px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}